<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFG5yspDpzbHzCbBTAnugKCX57A2L6TII</string>
	<key>GCM_SENDER_ID</key>
	<string>444354708357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coursesApp</string>
	<key>PROJECT_ID</key>
	<string>ulearning-d0b94</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearning-d0b94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444354708357:ios:69047fc5b47f0c77cdbaec</string>
</dict>
</plist>